html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #7BD3C9;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #D9EEEC;
    padding: 120px 2px 0px;
    font-weight: bold;
}
.header {
    background-color: #7BD3C9;
    min-height: 150px;
    width: 100px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #D9EEEC;
    min-height: 150px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.thead {
    background-color: #25504b;
    color: white;
}
.form-container {
    display: flex;
    justify-content: center;
}
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
form input, form textarea, select, button {
    outline: unset;
    padding: 8px;
    border: 1px solid #25504b;
    border-radius: 20px;
    margin-bottom: 10px;
}
strong {
    font-weight: bold;
}